<footer class="text-white bg-dark p-3">
    <div class="row my-3 text-center">
        <div class="my-2 col-md-6 col-lg-4">
            <a class="navbar-brand text-white" href="/">RESTI</a>
        </div>
        <div class="col-md-6 text-md-start col-lg-8 d-lg-flex">
            <div class="col my-2">
                <p>
                    CESTA, DRAHA <br>
                    LUXURY <br>
                    +487 768 872 265
                </p>
            </div>
            <div class="col my-2">
                <p>
                    OPEN TIMES <br>
                    MON - FRI: 10:00 AM - 10:00 PM <br>
                    SAT - SUN: 11:00 AM - 11:30
                </p>
            </div>
        </div>
    </div>
</footer>